@import 'https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css';

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #fffbf5;
    height: 200vh;
    background-color: #f7efe5;
    background-image: url('../public/bg3.jpeg');
    /* background-position: center;  */
    background-repeat: repeat;
    background-size: cover;
    color: white;
    /* color: blue; */
}

.navBar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 2rem;
    /* padding: 10px; */
    padding-top: 10px;
    background-color: #f7efe5;
    background-image: url('../public/bg3.jpeg');
}

.aboutContainer {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    width: 60%;
    height: 100vh;
    font-size: 1.5rem;
    color: white;
}

.recipesContainer {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    width: 60%;
    font-size: 1.5rem;
}

.cutoffText {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.cardGrid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    /* padding-top: 20px; */
    gap: 15px;
}

.aspectRatio {
    object-fit: cover;
}

.singleCard {
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 30%;
    align-items: stretch;
    /* background-color: red; */
}

.colSpan2 {
    grid-column: 1 / span 2;
    display: flex;
    align-items: center;
    gap: 10px;
}

.searchField {
    padding-top: 12px;
}

.alignCenter {
    display: flex;
    justify-content: center;
}

.addForm {
    padding-top: 30px;
    display: flex;
    margin: auto;
    margin-top: 20px;
    flex-direction: column;
    width: 30%;
    align-items: stretch;
    background-color: #bf977c;
    background-color: #5e5d65;
    padding: 20px;
    border-radius: 5px;
}

.alignRight {
    display: flex;
    justify-content: right;
    justify-items: right;
}
